/* Add your CSS to this file */

header h1{
    float: left;
}

header ul {
    float: right;
    padding-top: 15px;
}

header ul li{
    padding: 10px;
    display: inline;  /*removes bullet points and displays them horizontally */
}

.overview-hero-image img {
    width: 250px;
    height: 200px;
    padding: 20px;
}

.overview-hero .container{
    display: flex;
}

.overview-hero-text{
    width: 400px;
}

.learn-about .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr ;
    column-gap: 20px;
    padding: 10px;
}

.learn-about .card img{
    width: 250px;
    height: 200px;
}

.cta{
    margin: auto;
    justify-content: center;

}

.cta a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testing .container{
    display: flex;
}

.testing-description{
    width: 650px;
    margin: auto;
    padding: 80px;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}